*.DS_Store*
assets/sushiman_5.swf
.settings/
.settings/com.powerflasher.fdt.classpath
.settings/com.powerflasher.fdt.core.prefs
.settings/launch
.settings/org.eclipse.core.resources.prefs
assets/RECOVER_sushiman_5.fla
bin/Main.swf
*.swf
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes
.idea/shushiman.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes
.idea/shushiman.iml
.idea/vcs.xml
.idea/workspace.xml
